spring:
  application:
    name: eventmate

  datasource:
    url: jdbc:postgresql://localhost:5432/eventmate
    username: eventmate_user
    password: eventmate_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  profiles:
    active: dev

server:
  port: 8080

logging:
  level:
    root: INFO
